<a href="https://colab.research.google.com/github/water200427/ML/blob/master/sklearn_RandomForestRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Public Score of sample_submission.csv = 0.40890

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('train.csv', index_col=0)
dff = pd.read_csv('test.csv', index_col=0)

### 這邊偷渡觀察cov matrix的結果，選取重要的feature

In [3]:
cols = ['SalePrice', 'OverallQual','GrLivArea','TotalBsmtSF','YearBuilt','Fireplaces','GarageArea','MasVnrArea']
cols_no_SalePrice = cols[1:]

### 這邊用該feature的中間值填入缺失data

In [4]:
df = df[cols].fillna(df[cols].median())
dff = dff[cols_no_SalePrice].fillna(dff[cols_no_SalePrice].median())

In [5]:
np.any(df.isnull()), np.any(dff.isnull())

(False, False)

In [6]:
df, dff

(      SalePrice  OverallQual  GrLivArea  ...  Fireplaces  GarageArea  MasVnrArea
 Id                                       ...
 1        208500            7       1710  ...           0         548       196.0
 2        181500            6       1262  ...           1         460         0.0
 3        223500            7       1786  ...           1         608       162.0
 4        140000            7       1717  ...           1         642         0.0
 5        250000            8       2198  ...           1         836       350.0
 ...         ...          ...        ...  ...         ...         ...         ...
 1456     175000            6       1647  ...           1         460         0.0
 1457     210000            6       2073  ...           2         500       119.0
 1458     266500            7       2340  ...           2         252         0.0
 1459     142125            5       1078  ...           0         240         0.0
 1460     147500            5       1256  ...           0         276         0.0

 [1460 rows x 8 columns],
       OverallQual  GrLivArea  TotalBsmtSF  ...  Fireplaces  GarageArea  MasVnrArea
 Id                                         ...
 1461            5        896        882.0  ...           0       730.0         0.0
 1462            6       1329       1329.0  ...           0       312.0       108.0
 1463            5       1629        928.0  ...           1       482.0         0.0
 1464            6       1604        926.0  ...           1       470.0        20.0
 1465            8       1280       1280.0  ...           0       506.0         0.0
 ...           ...        ...          ...  ...         ...         ...         ...
 2915            4       1092        546.0  ...           0         0.0         0.0
 2916            4       1092        546.0  ...           0       286.0         0.0
 2917            5       1224       1224.0  ...           1       576.0         0.0
 2918            5        970        912.0  ...           0         0.0         0.0
 2919            7       2000        996.0  ...           1       650.0        94.0

 [1459 rows x 7 columns])

In [7]:
y = df['SalePrice']
X = df[cols_no_SalePrice]
XX = dff[cols_no_SalePrice]
XX['TotalBsmtSF'] = XX['TotalBsmtSF'].astype(int)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.3, random_state = 17)

In [9]:
X_train, y_train

(      OverallQual  GrLivArea  TotalBsmtSF  ...  Fireplaces  GarageArea  MasVnrArea
 Id                                         ...
 16              7        854          832  ...           0         576         0.0
 1387            7       2784         1392  ...           2         564       184.0
 610             4       1029         1029  ...           0         261       192.0
 499             5        899          864  ...           0         288        89.0
 685             7       1839         1195  ...           0         486        30.0
 ...           ...        ...          ...  ...         ...         ...         ...
 407             6       1639         1064  ...           0         240         0.0
 1415            6       1848          833  ...           1         370         0.0
 144             7       1501         1490  ...           0         577       183.0
 1266            7       1452          691  ...           0         506       218.0
 624             6       1512          756  ...           1         440       513.0

 [1022 rows x 7 columns], Id
 16      132000
 1387    250000
 610     118500
 499     130000
 685     221000
          ...
 407     115000
 1415    207000
 144     204000
 1266    183900
 624     168500
 Name: SalePrice, Length: 1022, dtype: int64)

In [10]:
RFC = RandomForestRegressor()

In [11]:
RFC.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [12]:
RFC.score(X_test, y_test)

0.8345156368466069

In [13]:
X_test.dtypes

OverallQual      int64
GrLivArea        int64
TotalBsmtSF      int64
YearBuilt        int64
Fireplaces       int64
GarageArea       int64
MasVnrArea     float64
dtype: object

In [14]:
XX.dtypes

OverallQual      int64
GrLivArea        int64
TotalBsmtSF      int64
YearBuilt        int64
Fireplaces       int64
GarageArea     float64
MasVnrArea     float64
dtype: object

In [15]:
test_y = RFC.predict(XX)

In [16]:
test_y

array([130620.        , 130170.9       , 173478.87      , ...,
       152074.        , 107180.35714286, 234979.03      ])

In [17]:
sub = pd.read_csv("sample_submission.csv")

In [18]:
my_sub = pd.DataFrame({'Id': dff.index, 'SalePrice': test_y})

In [19]:
my_sub.to_csv(r'my_sub.csv', index=False)

## Public Score = 0.16504 <br />
(sklearn RandomForestRegressor, with test_size =0.3, random_state = 17, and didn't delete  outliers)

# Delete outliers and train with all data

## delete outliers

In [20]:
drop_pts_Id = [1299, 524, 1299]
df = df.drop(drop_pts_Id)

In [21]:
df

      SalePrice  OverallQual  GrLivArea  ...  Fireplaces  GarageArea  MasVnrArea
Id                                       ...
1        208500            7       1710  ...           0         548       196.0
2        181500            6       1262  ...           1         460         0.0
3        223500            7       1786  ...           1         608       162.0
4        140000            7       1717  ...           1         642         0.0
5        250000            8       2198  ...           1         836       350.0
...         ...          ...        ...  ...         ...         ...         ...
1456     175000            6       1647  ...           1         460         0.0
1457     210000            6       2073  ...           2         500       119.0
1458     266500            7       2340  ...           2         252         0.0
1459     142125            5       1078  ...           0         240         0.0
1460     147500            5       1256  ...           0         276         0.0

[1458 rows x 8 columns]

In [22]:
RFC2 = RandomForestRegressor()

In [23]:
RFC2.fit(X, y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [24]:
RFC2.score(X, y)

0.9763707973662622

In [25]:
test_y2 = RFC2.predict(XX)

In [26]:
test_y2

array([131349.6 , 146799.5 , 170382.72, ..., 152233.  , 106583.5 ,
       232097.1 ])

In [27]:
my_sub2 = pd.DataFrame({'Id': dff.index, 'SalePrice': test_y2})
my_sub2.to_csv(r'my_sub2.csv', index=False)

## Public Score = 0.16307 <br />
(sklearn RandomForestRegressor, with test_size =0 (i.e. no test data), and deleted  outliers)